body{
    background: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background: linear-gradient(to bottom, black ,black, blue);
    border: 2px solid white;
    margin-bottom: 3%;
}
.shadow{
    background:rgba(255,255,255, 0.2);
    padding: 3% 0;
    width: 80%;
    margin: 0 10%;
}
h1{
    padding-left: 5%;
}
.searchBox{
    background: white;
    border: 2px solid blue;
    max-width: 60%;
    margin: 1% auto;
    box-sizing: border-box;
}
.searchBox #search {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:lightslategrey;
    padding: 2px 0 2px 10px;
    width: 100%;
    box-sizing: border-box;
}
/*#search:focus{
    
}*/
h2{
    text-align: center;
    margin: 0;
}
.container {
    border: 1px solid white;
    max-width: 80%;
    margin: 5% auto;
}

#template {
    display: none;
}
